<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天</title>

    <script type="text/javascript"  th:src="@{/jquery-3.4.0/jquery-3.4.0.min.js}"></script>
    <link th:href="@{/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >

    <script type="text/javascript"  th:src="@{/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<!--    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">-->
    <script th:src="@{/layui/layui.all.js}"></script>
    <style>
    </style>
</head>
<body class="container" style="width: 80%">

    <div style="margin-top: 2%"></div>
    <div class="form-group" style="float: left; width: 80%;">

        <div id="myMessage" style="width: 8%; height: 500px; overflow-y: auto; position: relative; float: left; background: #26282B" readonly="readonly">
            <h5 id="account" th:text="${session.accountInfo.account}" style="width: 80%; color: white; margin-left: 3%; display: none"></h5>
            <img id="chatHeadPic" th:src="@{'/photo/touLog.jpg'}" class="layui-nav-img" style="width: 70%; height: auto; margin-top: 9px; margin-left: 15%; " onclick="clickHeadPic()">

            <img th:src="@{'/photo/chatShow.png'}" class="layui-nav-img" style="width: 50%; height: auto; margin-top: 20px; margin-left: 25%">

            <img th:src="@{'/photo/addressBook.png'}" class="layui-nav-img" style="width: 50%; height: auto; margin-top: 20px; margin-left: 25%">
        </div>
        <div id="message_user" style="width: 25%; height: 500px; overflow-y: auto; position: relative; float: left; background-color: #E5E5E6" readonly="readonly">
            <div>
                <br>
            </div>
            <div style="margin-left: 2%; color: #3ebaff; border-bottom:1px solid ">
                总人数:<span id="online_count"></span><br/>
            </div>
            <div id="online_user_list" style="margin-left: 2%; margin-right: 2%; height: 61%; border-bottom:1px solid #C5C4C5 ">
            </div>
            <div id="system_msg_id" style="margin-left: 2%; margin-right: 2%; ">
                <div><strong>系统消息</strong></div>
                <div id="system_msg" style="overflow-y: auto;height: 110px"></div>
            </div>
        </div>
        <div id="whoChat" style="font-size: 16px; width: 67%; height: 40px; overflow-y: auto; position: relative; float: left; background-color: #F5F5F5; border-bottom:1px solid #E7E7E7 "  readonly="readonly">
            <div style="margin-top: 2%; margin-left: 3%;">
                <span id="with_who"></span><span style="display: none" id="with_who_account"></span><br/>
            </div>
        </div>
        <div id="message_chat_content_id">
            <div id="message_chat" style="font-size: 13px; width: 67%; height: 310px; overflow-y: auto; position: relative; float: left; background-color: #F5F5F5" readonly="readonly">
            </div>
    <!--        <div id="msg_end" style="height:0px; overflow:hidden"></div>-->
            <div style="width: 67%; float: right;">
                <div style="width: 100%; height: 115px;">
                    <textarea style="height: 100%; border-bottom: #ffffff solid 0px;" id="message_content" value="" class="form-control"></textarea>
                </div>
                <div style="width: 100%; float: right; border-bottom: #808080 solid 1px;">
                    <button style="float: right;" id="send" onclick="messageSendSingleFun()" class="btn btn-info">发送消息</button>
                    <!--<button style="float: right;" id="send_all" class="btn btn-info">群发消息</button>-->
                    <!--<button style="float: right;" id="user_exit" class="btn btn-warning">退出</button>-->
                </div>
            </div>
        </div>
    </div>

    <div id="picModel" style="background-color: #F5F5F5; display: none;">
        <div style="border-bottom: 2px #F4F4F4 solid;">
            <div style="margin-top: 2%; margin-left: 3%; width: 65%; float: left">
                <div>
                    <strong><label th:text="${session.accountInfo.username}"></label></strong>
                </div>
                <div style="margin-top: 10px"><label style="color: #CEAB99">account：</label><label style="color: #CEAB99" th:text="${session.accountInfo.account}" ></label></div>
            </div>
            <div style="float: left; width: 32%">
                <img id="showChatPic" th:src="@{'/photo/touLog.jpg'}" class="layui-nav-img" style="width: 60%; height: auto; margin-top: 9px; margin-left: 15%; " >
            </div>
        </div>
        <div style="margin-top: 2%; margin-left: 3%; width: 65%; float: left">
            <div style="float: left;">
                address <strong><label th:text="${session.accountInfo.address}"></label></strong>
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label" style="width: 100px">头像</label>
            <div class="layui-input-block">
                <input type="text" id="picture" readonly="readonly" style="width:500px;" lay-verify="title" autocomplete="off" th:value="${session.accountInfo.picture}" class="inp">
            </div>
        </div>
    </div>

    <script type="text/javascript"  th:src="@{/common/common.js}"></script>

<script>

    const basePath = '[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]';
    const ipPort = '[[${#httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]';
    //let urlPrefix = 'ws://localhost:8080/net/websocket/';
    let urlPrefix = 'ws://' + ipPort + '/net/websocket/';

    let fromName = $('#account').text();
    let ws = null;

    $(document).ready(function() {

        initHeadPic();
        selectOnlineAccount();

        ws = initMsg(urlPrefix, fromName);

        // 客户端群发消息到服务器
        $('#send_all').click(function() {
            let msg = $('#message_content').val();
            if (!msg) {
                alert("请输入聊天内容！");
                return;
            }
            msg = msg + "[allUsers]" + "----------" + username;
            if (ws) {
                ws.send(msg);
                //服务端发送的消息
                $('#message_chat').append('<div style="width: 100%; float: right;"><span style="float: right;">' + username + ' 的群发消息&nbsp;&nbsp;</span><br/>');
                $('#message_chat').append('<span style="float: right; font-size: 18px; font-weight: bolder;">' + msg.replace('[allUsers]----------' + username, '') + '</span></div>');
                $("#message_content").val('');
            }
        });
        // 退出聊天室
        $('#user_exit').click(function() {
            if (ws) {
                ws.close();
            }
            parent.tabDel("21");
        });
    });

    function initHeadPic() {
        const picture = $("#picture").val();
        if(picture !== null || picture !== "") {
            $("#showChatPic").attr('src', picture);
            $("#chatHeadPic").attr('src', picture);
        } else {
            $("#showChatPic").attr('src', "photo/touLog.png");
            $("#chatHeadPic").attr('src', "photo/touLog.png");
        }

    }

    /**
     * 点击头像时操作
     */
    function clickHeadPic() {
        //显示人员信息
        layer.open({
            type: 1,
            title: '',
            area: ['324.8px', '188.6px'],
            closeBtn :0,
            shade:[0.1, '#FFFFFF'],
            shadeClose: true, //点击遮罩关闭
            content: $('#picModel'),
            //offset: 'lt',
            offset: ['30px', '170px']
        });
    }

    /**
     * 获取所有用户(除自身外)
     */
    function selectOnlineAccount() {

        let account = $('#account').text();

        $.ajax({
            url:  basePath + "/accountOnline.json",
            type: "POST",
            data: {'account': account},
            success: function(result) {

                const code = result.code;
                if(code === "0000") {
                    let dataList = JSON.parse(result.data);

                    let onlineUserList = "";
                    for (let i = 0; i < dataList.length; i++) {
                        const username =  dataList[i].username;
                        const account = dataList[i].account;
                        onlineUserList += "<div id='\""+account+"\"' onmousemove = 'over()' onmouseout='out(this)' style='height: 30px; margin-top: 2%; background-color: #E7E6E6; border-bottom:1px solid #C5C4C5' onclick='changeCharUser(\""+account+"\", \""+username+"\", this)'> " + username+ "</div>";
                        //onlineUserList += "<li class='rel-item'><a onclick='changeCharUser("+dataList[i].account+")'> " + dataList[i].username + dataList[i].account + "</li></a>";
                    }

                    $("#online_count").text(dataList.length);
                    $("#online_user_list").append(onlineUserList);
                } else {
                    $("#online_count").text("0");
                    $("#online_user_list").append("暂无人员");
                }
            }
        });
    }

    /**
     * 初始化消息
     *
     * @param urlPrefix
     * @param username
     * @returns {WebSocket}
     */
    function initMsg(urlPrefix, username) {
        let url = urlPrefix + username;
        const ws = new WebSocket(url);
        ws.onopen = function () {
            console.log("建立 websocket 连接...");
        };
        ws.onmessage = function(event) {

            const chatJson = JSON.parse(event.data);
            let isSystem = chatJson.isSystem;
            const message = chatJson.message;
            if(isSystem === "true") {
                $('#system_msg').prepend(message + '\n');
                return;
            }

            var toName = chatJson.toName;
            var fromName = chatJson.fromName;

            isSystem = chatJson.isSystem;

            //设置缓存
            const account = document.getElementById("with_who_account").innerText;
            const chatData = sessionStorage.getItem(account);

            let storeData = "";
            if(chatData != null) {
                storeData = chatData + message + '\n';
            }

            sessionStorage.setItem(account, storeData);
            //设置缓存结束

            //此处做一个判断（判断后端回来的发送者是否和本次聊天的一致）
            //服务端发送的消息
            if(toName === username) {
                $('#message_chat').append(message + '\n');
                $('#msg_end').scrollIntoView();
            }
        };
        ws.onclose = function(event) {
            const chatJson = JSON.parse(event.data);
            let isSystem = chatJson.isSystem;
            const message = chatJson.message;
            $('#system_msg').prepend(message);
            console.log("用户：[" + username + "]已关闭 websocket 连接...");
        }
        return ws;
    }

    /**
     * 切换聊天对象
     * @param account
     * @param username
     */
    function changeCharUser(account, username, thisID) {
        $(thisID).css("backgroundColor","#C4C4C5");
        //情况聊天界面
        $("#message_chat").html("");

        $("#with_who").html("");
        $("#with_who_account").html("");
        $("#with_who").append("<Strong>"+username+"</Strong>");
        $("#with_who_account").append(account);
        //聊天界面实现与他聊天的内容
        const chatData = sessionStorage.getItem(account);
        if(chatData != null) $("#message_chat").html(chatData);
    }

    /**
     * 单个发送消息
     */
    function messageSendSingleFun() {

        //获取当前选中行的人员;
        const toName = document.getElementById("with_who_account").innerText;
        
        if (!toName) {
            alert("请选择一个用户！");
            return;
        }
        
        let messageContent = $('#message_content').val();
        if (!messageContent) {
            alert("请输入聊天内容！");
            return;
        }

        //记录缓存
        let chatData = sessionStorage.getItem(toName);
        let storeData = "";
        if(chatData != null) {
            storeData = chatData + messageContent;
        }

        sessionStorage.setItem(toName, storeData);
        //记录缓存结束

        if (ws) {

            const sendMessageContentJson = {
                'isSystem': "false",
                'fromName': fromName,
                'toName': toName,
                'message': messageContent
            };

            //向服务端发送消息
            ws.send(JSON.stringify(sendMessageContentJson));

            //本消息展示到聊天区
            $('#message_chat').append('<div style="width: 100%; float: right;"><span style="float: right;">' + fromName + '&nbsp;&nbsp;</span><br/>');
            $('#message_chat').append('<span style="float: right; font-size: 12px; font-weight: bolder; background-color: #9EEA6A">' + messageContent + '</span></div>');
            $("#message_content").val('');
            $('#msg_end').scrollIntoView();

        }
    }

    function over(thisID){
        //$(thisID).css("background-color","#9EEA6A");
    }

    function out(thisID) {
        $(thisID).css("background-color","#E7E6E6");
    }



</script>
</body>
</html>