<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript"  th:src="@{/jquery-3.4.0/jquery-3.4.0.min.js}"></script>
    <link th:href="@{/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >

    <script type="text/javascript"  th:src="@{/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">

    <style th:inline="text">
        table{border-spacing: 10px 30px;}
        tr {
            display: block;
            /*将tr设置为块体元素*/
            margin: 3px 0;
            /*设置tr间距为2px*/
        }

        td {
            text-align: right;
        }

        .layui-tab-content {
            height: 200vh;
        }

    </style>
</head>
<body>
<div style="margin-top:3%;margin-left:1%;margin-right:2%;">
    <table class="layui-hide" id="test" lay-filter="table"></table>
</div>

<div id="addModel" style="display: none;">
    <table style="margin-left: 2%; margin-top: 1%">
        <tr>
            <td style="width: 90px;">
                开发者：
            </td>
            <td>
                <input type="text" readonly="readonly" th:value="${session.userId}" style="width:500px;height:30px;" name="director" id="director">
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                工程<label style="color: red">*</label>：
            </td>
            <td>
                <input type="text" style="width:500px;height:30px;" name="project" id="project">
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                工程名<label style="color: red">*</label>：
            </td>
            <td>
                <input type="text" style="width:500px;height:30px;" name="projectName" id="projectName">
            </td>
        </tr>

        <tr>
            <td style="width: 90px;">
                开发语言<label style="color: red">*</label>：
            </td>
            <td>
                <select name="developmentLanguage" id="developmentLanguage" value="0">
                    <option th:each="languageEnum:${languageEnum}" th:value="${languageEnum.paramValue}" th:text="${languageEnum.paramValue}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                开发架构<label style="color: red">*</label>：
            </td>
            <td>
                <select name="developmentArchitect" id="developmentArchitect" value="0">
                    <option th:each="devArchitectEnum:${devArchitectEnum}" th:value="${devArchitectEnum.paramValue}" th:text="${devArchitectEnum.paramValue}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                部署类型：
            </td>
            <td>
                <select name="deployType" id="deployType" value="0">
                    <option th:each="deployTypeEnum:${deployTypeEnum}" th:value="${deployTypeEnum.paramValue}" th:text="${deployTypeEnum.paramValue}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                功能点<label style="color: red">*</label>：
            </td>
            <td>
                <textarea  type="text" style="width:500px;" rows="5" name="functionPoint" id="functionPoint"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width: 90px;">
                备注：
            </td>
            <td>
                <textarea type="text" style="width:500px;" rows="3" name="comments" id="comments"></textarea>
            </td>
        </tr>

        <tr id="timeTr" style="display: none">
            <td style="width: 90px;">
                创建时间<label style="color: red">*</label>：
            </td>
            <td>
                <input type="text" readonly="readonly" style="width:500px;height:30px;" name="createTime" id="createTime">
            </td>
        </tr>
    </table>

</div>
<div id="delModel" style="display: none;margin-top: 1%; margin-left: 1%">
    <span id="delMsg"></span><br>
    <span id="delContent"></span>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addInterface">新增接口</button>
        <button class="layui-btn layui-btn-sm" lay-event="delInterface">删除接口</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update">变更</a>
</script>
<script type="text/javascript"  th:src="@{/common/common.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>

    const basePath = '[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]';

    $(function () {
        search();
    });

    function search() {

        layui.use('table', function(){
            const table = layui.table;

            table.render({
                elem: '#test'
                ,url: basePath +'/interfaceSelect.json'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}

                        // ,{field:'director', align: 'center', title: '开发者'}
                        ,{field:'project', title: '工程', align: 'center'}
                        ,{field:'projectName', title: '工程名', align: 'center'}
                        ,{field:'deployType', title: '部署类型', align: 'center', }
                        ,{field:'developmentLanguage', title: '开发工具', align: 'center', }
                        ,{field:'developmentArchitect', title: '开发架构', align: 'center', sort: true}
                        // ,{field:'comments', title: '备注', align: 'center', sort: true}
                        ,{field:'createTime', title: '创建时间', align: 'center', format: 'yyyy-MM-dd HH:mm:ss'}
                        // ,{field:'updateTime', title: '更新时间', align: 'center', }
                        ,{fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'}
                    ]
                ]
                ,page: true   //开启分页
                ,limit:10   //默认十条数据一页
                ,limits:[10,20]  //数据分页条
            });

            table.on('tool(table)', function(obj){
                const data = obj.data;
                if(obj.event === 'update'){
                    layer.msg("功能暂未开通,请先删后新增", {time : 800});
                } else if(obj.event === 'edit'){
                    //赋值
                    $("#project").val(data.project);
                    $("#projectName").val(data.projectName);
                    $("#deployType").val(data.deployType);
                    $("#developmentLanguage").val(data.developmentLanguage);
                    $("#developmentArchitect").val(data.developmentArchitect);
                    $("#functionPoint").val(data.functionPoint);
                    $("#comments").val(data.comments);
                    $("#createTime").val(data.createTime);
                    $("#project").attr("readonly", "true");
                    $("#projectName").attr("readonly", "true");
                    $("#deployType").attr("disabled", "disabled");
                    $("#developmentLanguage").attr("disabled", "disabled");
                    $("#developmentArchitect").attr("disabled", "disabled");
                    $("#functionPoint").attr("readonly", "true");
                    $("#comments").attr("readonly", "true");
                    $('#timeTr').css("display", "block");
                    readModel();
                }
            });

            //头工具栏事件
            table.on('toolbar(table)', function(obj){
                const checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'addInterface':
                        //弹出模态框
                        $('#timeTr').css("display", "none");
                        openModel();
                        break;
                    case 'delInterface':
                        const data = checkStatus.data;
                        delOpenFun(data);
                        break;
                }
            });

        });
    }

    //弹出删除确认框
    function delOpenFun(data) {

        const length = data.length;
        if(length <=0) {
            layer.msg("未选中数据", { time :800});
            return;
        }
        let msg = "您将删除" + length + "条数据:\r\n";
        let projectStr = "";
        let projectParam = "";
        for (let i = 0; i < length; i++) {
            const json = data[i];
            const project = json.project;
            projectParam += project + ",";
            projectStr += project + "、";
        }
        projectStr = projectStr.substr(0, projectStr.length -1);
        $("#delMsg").html(msg);
        $("#delContent").html(projectStr);

        const director = $("#director").val();

        if(!director) {
            layer.msg("开发者不能为空！", { time :1000});
            return;
        }
        if(!projectParam) {
            layer.msg("项目不能为空！", { time :1000});
            return;
        }
        const param = {
            "director":director,
            "project":projectParam.substr(0, projectParam.length -1),
        }

        layer.open({
            type: 1,
            title: '删除确认',
            area: ['300px', '200px'],
            shadeClose: false, //点击遮罩关闭
            content: $('#delModel'),
            offset: '100px',
            btn: ['确定', '取消'],
            yes: function(index, layero) {
                delExe(index, param);
            },
            cancel: function () {
            },
            end: function () {
                location.reload();
            }
        });
    }

    function delExe(index, param) {

        $.ajax({
            url     : basePath + "/interfaceDel.json",
            dataType:"json",
            type    :"post",
            async   : false,
            data    : param,
            success:function (result) {

                const code = result.code;
                const msg = result.msg;

                if(code === "0000") {
                    layer.msg("删除成功", { time :2000});
                    setTimeout(function() {
                        layer.close(index);
                    }, 1000);

                } else {
                    layer.msg(msg, { time :2000});
                }
            },
            error:function (result) {
                $.shotTotal(result, "error");
            }

        })
    }

    //弹出模态库
    function openModel() {
        layer.open({
            type: 1,
            title: '接口信息',
            area: ['700px', '500px'],
            shadeClose: false, //点击遮罩关闭
            content: $('#addModel'),
            offset: '20px',
            btn: ['确定', '取消'],
            yes: function(index, layero) {
                interExe(index);

            },
            cancel: function () {
                return;
            },
            end: function () {
                $('#addModel').css("display", "none");
                location.reload();
            }
        });
    }

    function readModel() {
        layer.open({
            type: 1,
            title: '接口信息',
            area: ['700px', '500px'],
            shadeClose: false, //点击遮罩关闭
            content: $('#addModel'),
            offset: '20px'
        });
    }

    function interExe(index) {

        const director = $("#director").val();
        const project = $("#project").val();
        const projectName = $("#projectName").val();
        const deployType = $("#deployType").val();
        const developmentLanguage = $("#developmentLanguage").val();
        const developmentArchitect = $("#developmentArchitect").val();
        const functionPoint = $("#functionPoint").val();
        const comments = $("#comments").val();

        if(!project) {
            layer.msg("工程不能为空！", { time :1000});
            return;
        }
        if(!projectName) {
            layer.msg("工程名不能为空！", { time :1000});
            return;
        }

        if(!developmentLanguage) {
            layer.msg("开发工具不能为空！", { time :1000});
            return;
        }

        if(!developmentArchitect) {
            layer.msg("开发架构不能为空！", { time :1000});
            return;
        }

        if(!functionPoint) {
            layer.msg("功能描述不能为空！", { time :1000});
            return;
        }

        const param = {

            "director":director,
            "project":project,
            "projectName":projectName,
            "deployType":deployType,
            "developmentLanguage":developmentLanguage,
            "developmentArchitect":developmentArchitect,
            "functionPoint":functionPoint,
            "comments":comments
        };

        //连接后端进行数据插入
        //ajaxPostNoData(basePath + "/interfaceAdd.json", param);

        $.ajax({
            url     : basePath + "/interfaceAdd.json",
            dataType:"json",
            type    :"post",
            async   : false,
            data    : param,
            success:function (result) {
                $.closeProgressBar();
                const code = result.code;
                const msg = result.msg;

                if(code === "0000") {
                    layer.msg(msg, { time :2000});
                    setTimeout(function() {
                        //成功之后将模态库去除，然后刷新界面
                        $('#addModel').css("display", "none");
                        layer.close(index);
                    }, 1000);

                } else {
                    layer.msg(msg, { time :2000});
                }
            },
            error:function (result) {
                $.shotTotal(result, "error");
            }

        })
    }

</script>
</body>
</html>